


Body {
    COLOR: whitesmoke;
    background-color: #ADD8E6;
    margin: 0 20%;
    font-family: sans-serif;
}
h1 {
    color: #96E6B3;
    text-align: center;
    font-family: Georgia;
    font-weight: lighter;
    font-size: xx-large;
    text-transform: normal;
    border-bottom: 1px solid whitesmoke;
    margin-top: 30px;
}
A:link{
    color: lightblue;
}
A:visited {
    color: darkolivegreen;
}